<mat-divider flex></mat-divider>
<form class="form-field-full ">
<div fxLayout="row wrap" fxLayoutGap="8px grid" >
    <div fxFlex="33.33" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
            <ng-template #newFile>
                <mat-label>Upload Docter Prescription</mat-label>
            </ng-template>
            <input matInput disabled>
            <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
        </mat-form-field>
    </div>
        <div fxFlex="33.33" fxFlex.lt-md="100">
            <mat-form-field appearance="outline">
                <mat-label>Appointment Time</mat-label>
                <input matInput placeholder="Simple placeholder" >
            </mat-form-field>
        </div>
        <div fxFlex="33.33" fxFlex.lt-md="100">
            <mat-form-field appearance="outline">
                <mat-label>Payment Mode</mat-label>
                <input matInput placeholder="Simple placeholder" >
            </mat-form-field>
        </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="8px grid" class="matero-row">
    <div fxFlex="50" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
            <mat-label>Type here other test</mat-label>
            <textarea matInput placeholder="Simple placeholder" ></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="50" fxFlex.lt-md="100">
    <mat-form-field appearance="outline">
        <mat-label>Remarks</mat-label>
        <textarea matInput placeholder="Simple placeholder" ></textarea>
    </mat-form-field>
   
</div>

</div>
<div fxLayout="row wrap"  fxLayoutAlign="center" >
    <button  mat-raised-button color="primary">Save</button>
</div>
</form>